body {
  /* height: 100hv; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100vh;
  background-color: #cfd8dc;
}

#map {
  align-items: center;
  border-color: rgb(0, 0, 0);
  border-collapse: collapse;
}

#togglegroup {
  float: right;
}
